@import './../../../mixin.scss';

.main-contain {
    width: 100%;
    height: 100%;

    @include display();

    form {
        width: 100%;
        height: 100%;

        @include display($fd: column, $gap: 25px);

        h1 {
            color: var(--blue);
        }

        p {
            width: 450px;

            font-size: 17px;
            color: var(--black);
            text-align: center;

            margin: 0;
        }

        .input-contain,
        .google-contain {
            width: 400px;
            min-height: 45px;
            max-height: 45px;

            @include display();
            position: relative;

            border: 2px solid transparent;
            background-color: var(--lighterBG);
            border-radius: var(--borderRadius);

            padding: 0 25px;
            margin-bottom: 10px;

            .img-contain {
                width: 45px;
                height: 100%;

                @include display();

                .input-icon {
                    width: 25px;
                }
            }

            .pw {
                width: 90px;

                justify-content: space-around;
            }

            input {
                width: calc(100% - 45px);
                height: 25px;

                background-color: transparent;
                border: 0;

                font-size: var(--fontSize);
                font-weight: 100;
                color: var(--black);

                outline: none;
            }

            .input-pw {
                width: calc(100% - 90px);
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                background-color: transparent !important;
                color: var(--black) !important;
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: var(--black) !important;
            }

            label {
                position: absolute;
                top: 10px;
                left: 25px;

                background-color: transparent;

                transition: all 0.3s ease;
                pointer-events: none;

                font-size: var(--fontSize);
                font-weight: 300;
                color: var(--black);
            }

            input:focus+label,
            input:not(:placeholder-shown)+label {
                top: -15px;
                left: 15px;
                font-size: 19px;
                color: var(--black);
            }

            span {
                font-size: var(--fontSize);
                color: var(--black);

                @include display();

                .google-logo {
                    width: 30px;
                    margin-right: 10px;
                }
            }

            .request-contain {
                width: calc(100% - 50px);
                height: 25px;

                @include display($jc: flex-start);
                position: absolute;
                top: 47px;
                left: 0px;

                background-color: transparent;

                padding: 0 25px;
                z-index: 9;

                .request-area {
                    font-size: 18px;
                    color: var(--red);
                }
            }
        }

        a {
            font-size: var(--fontSize);
            color: var(--blue);
            text-decoration: none;

            &:hover {
                color: var(--turquoise);
                text-decoration: underline;
            }
        }

        .google-contain {
            cursor: pointer;

            &:hover {
                border: 2px solid var(--blueBG);

                span {
                    transform: scale(1.05);
                }
            }
        }

        .or-line {
            width: 95%;
            height: fit-content;

            @include display($jc: space-around);

            margin-bottom: 15px;

            .line {
                width: 40%;
                border: 1px solid var(--lighterBG);
            }

            h4 {
                color: var(--black);
            }
        }

        .btn-contain {
            width: 375px;
            height: 55px;

            @include display($jc: space-between);

            margin-top: 25px;

            button {
                width: 160px;
                height: 45px;

                border: 0;
                border-radius: var(--borderRadius);

                font-size: var(--fontSize);
            }

            .btn-left {
                background-color: var(--blueBG);
                color: var(--white);

                border-color: var(--blueBG);
                color: var(--white);
                box-shadow: 0 0 40px 40px var(--blueBG) inset, 0 0 0 0 var(--blueBG);
                transition: all 0.3s ease-in-out;


                &:hover {
                    background-color: transparent;
                    box-shadow: 0 0 10px 0 var(--blueBG) inset, 0 0 10px 4px var(--blueBG);
                    color: var(--blueBG);
                }
            }

            .unvalid {
                background-color: var(--gray50);
                box-shadow: none;

                cursor: not-allowed;

                &:hover {
                    background-color: var(--gray50);  // Beibehalten der grauen Hintergrundfarbe
                    box-shadow: none;  // Kein Schatten
                    color: var(--white);  // Textfarbe bleibt weiß
                }
            }

            .btn-right {
                position: relative;

                background-color: transparent;
                border: 2px solid var(--blueBG);

                color: var(--blueBG);

                overflow: hidden;
                transition: 0.2s transform ease-in-out;
                will-change: transform;
                z-index: 0;

                &::after {
                    width: 100%;
                    height: 100%;

                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;

                    background-color: var(--blueBG);
                    border-radius: var(--borderRadius);

                    content: '';

                    transform: translate(-100%, 0) rotate(10deg);
                    transform-origin: top left;
                    transition: 0.3s transform ease-out;
                    will-change: transform;
                    z-index: -1;
                }

                &:hover::after {
                    transform: translate(0, 0);
                }

                &:hover {
                    border: 2px solid transparent;

                    color: var(--white);

                    transform: scale(1.05);
                    will-change: transform;
                }
            }
        }
    }

    .checkbox-contain {
        width: 200px;
        height: fit-content;

        @include display($jc: flex-start, $gap: 10px);

        span {
            font-size: var(--fontSize);
            color: var(--black);
        }

        a {
            font-size: var(--fontSize);
            color: var(--blue);
            text-decoration: none;

            &:hover {
                color: var(--turquoise);
                text-decoration: underline;
            }
        }

        .checkbox {
            width: 20px;
            height: 20px;

            @include display();

            border: 2px solid var(--blueBG);
            border-radius: 5px;

            cursor: pointer;

            &:hover {
                border: 2px solid var(--gold);
            }

            .check {
                width: 15px;
            }
        }

        .redBorder {
            border: 2px solid var(--red);

            &:hover {
                border: 2px solid var(--red);
            }
        }

        .greenBorder {
            border: 2px solid var(--green);

            &:hover {
                border: 2px solid var(--green);
            }
        }
    }

    &.switch-opacity-on {
        animation: opacityOn 1.5s;
    }

    &.switch-opacity-off {
        animation: opacityOff 1.5s;
    }

    .remember-forgot {
        width: 68%;

        justify-content: space-between;
    }
}

.distance {
    width: fit-content;
    min-height: 45px;
    max-height: 45px;

    @include display();
}