<main>
    <app-back-arrow (click)="backToLogin()"></app-back-arrow>
    <form (ngSubmit)="onSubmit(forgotPWForm)" #forgotPWForm="ngForm">

        <h1>{{ globalJSData.isGerman ? 'Passwort zurücksetzen' : 'Reset Password' }}</h1>

        <p>
            @if (globalJSData.isGerman) {
            Bitte geben Sie die E-Mail-Adresse ein,
            mit der Sie sich bei DA-Bubble registriert haben,
            um Ihr Passwort zurücksetzen zu können.
            } @else {
            Please enter the email address you used to
            register with DA-Bubble to reset your password.
            }
        </p>

        <div class="input-contain">
            <input #mail="ngModel" [(ngModel)]="yourMail" type="email" placeholder=" " name="mail" autocomplete="email"
                required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            <label for="email">{{ globalJSData.isGerman ? 'E-Mail Adresse' : 'Mail address' }}</label>
            <div class="img-contain">
                <img class="input-icon" src="assets/img/icons/mail.png" alt="">
            </div>
            @if (!mail.valid && mail.touched) {
            <div class="request-contain">
                <span class="request-area" id="request-name">{{ globalJSData.isGerman ? 'Bitte gib deine E-Mail ein' :
                    'Please enter your mail' }}</span>
            </div>
            }
        </div>

        <p>
            @if (globalJSData.isGerman) {
            Sie erhalten von uns eine E-Mail, über die Sie Ihr Passwort ändern können.
            } @else {
            You will receive an email from us via which you can change your password.
            }
        </p>

        <div class="btn-contain">
            <button class="btn-left" type="submit" value="Submit"
            [ngClass]="{'unvalid': !forgotPWForm.valid}"
            >{{ globalJSData.isGerman ? 'Weiter' : 'Next' }}</button>
        </div>

    </form>
</main>